.footer
  .center
    .footer__title Let's get in touch

    .footer__items
      a.footer__item.letter(href="mailto:grammka@gmail.com")
      a.footer__item.facebook(href="https://www.facebook.com/pavelivanovinfo" target="_blank")

    .footer__social-container
      .footer__social
        .fb-like(
          data-href="https://www.facebook.com/pavelivanovinfo"
          data-layout="button_count"
          data-action="like"
          data-size="large"
          data-show-faces="false"
          data-share="true"
        )
