-
  items = [
    {
      title: 'Spin One Div',
      slug: 'spinonediv',
      url: 'http://spinonediv.ru',
      desc: 'Single Element pure CSS Spinners & Loaders',
      logoExt: 'jpg',
      logoSize: 'auto 80%',
    },
    {
      title: 'Dribbbles',
      slug: 'dribbbles',
      url: 'http://dribbbles.ru',
      desc: 'Markup of Dribbble projects',
      logoSize: 'auto 80%',
    },
    {
      title: 'Redaction',
      slug: 'redaction',
      url: 'https://github.com/pavelivanov/redaction',
      desc: 'Simple actions creator without string constants',
      logoSize: 'auto 80%',
    },
    {
      title: 'React Notification',
      slug: 'react-notify-me',
      url: 'https://github.com/pavelivanov/react-notify-me',
      desc: 'React component for notifications',
    },
    {
      title: 'Quadratic Photo Mosaic',
      slug: 'quadratic-photomosaic',
      url: 'https://github.com/pavelivanov/quadratic-photomosaic',
      desc: 'Like FB photo mosaic',
    },
    {
      title: 'Cover Editor',
      slug: 'cover-editor',
      url: 'https://github.com/pavelivanov/cover-editor',
      logoExt: 'jpg',
      logoSize: 'auto 70%',
      desc: 'Like FB cover editor',
    },
  ]

.projects
  for item in items
    .project-container
      a.project(href="#{item.url}" target="_blank")
        .project__preview(style="background-image: url(./images/projects/#{item.slug}.#{item.logoExt || 'png'}); #{item.logoSize ? ('background-size: ' + item.logoSize) : ''}")
        .project__content
          .project__title #{item.title}
          .project__desc #{item.desc}
